<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página de contato</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>

    <body class="container">
        <h1>Contato</h1>
        <p>Preencha os dados abaixo para entrar em contato conosco</p>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>